{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 w-auto">
        <h1>Espace membre privée! ✅</h1>
		<h3>Modification de mon mot de passe</h3>
		{{ form(modifyPwd) }}
    </div>
{% endblock %}
