{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

    <div class="container my-5 w-auto">
        <h1>Inscription</h1>
        
        {{ form(registerForm) }}
        
    </div>

{% endblock %}
